<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true"></compilation>
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UncipherServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="UncipherServiceBehavior" name="WcfService.Uncipher2">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          name="UncipherServiceTcp" contract="WcfService.IUncipher2" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="UncipherServiceMex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/Uncipher" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
