<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentification" />
                <binding name="BasicHttpBinding_IUncipher" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52707/Authentification.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentification"
                contract="ServiceReference1.IAuthentification" name="BasicHttpBinding_IAuthentification" />
            <endpoint address="http://localhost:52707/Uncipher.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUncipher" contract="ServiceReference2.IUncipher"
                name="BasicHttpBinding_IUncipher" />
        </client>
    </system.serviceModel>
</configuration>